.body {
	background: #E5F0F9;
}

.jumbotron {
	border: 1px solid #82BDF4;
}

.registr {
	margin-top: 20px;
	border-bottom: .5px solid;
}

.bto {
	display: block !important;
	margin-bottom: 1em;
}

.P {
	font-size: 13px;
}

.label-usuario {
	margin-bottom: 3rem;
}

.container {
	margin-top: 4rem;
}

.inpt {
	margin-bottom: 2em;
}